# Xcode ke temporary aur user files
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Swift Package Manager files
.build/
Packages/
.swiftpm/

# Workspace file
package.xcworkspace/

